body  {
    background-color: blueviolet;
}

.jumbotron-fluid{
    width: 80%;
    margin-left: 10%;
    margin-top: 2%;
    border-radius: 10%;
    border-color: black;
    border-width: 50%;
    border: 5em;
}

.display-4{
    font-family: Arial, Helvetica, sans-serif;
    color: blueviolet;
    text-decoration: underline;
}

#squalltitle{
    font-weight: bold;
}